.benefits {
	padding: 73px 0 83px;
	background: #F6F6F6;
	&__wrapper {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
	}

	// .benefits__item

	&__item {
		padding: 0 10px;
		width: 275px;
		img{
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
	}

	// .benefits__img

	&__img {
	}

	// .benefits__header

	&__header {
		margin-top: 35px;
		font-weight: 700;
		font-size: 18px;
		line-height: 29px;
		color: #0D0D0D;
		text-align: center;
	}

	// .benefits__descr

	&__descr {
		margin-top: 20px;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #0D0D0D;
		span{
			font-size: 14px;
			line-height: 18px;
			text-align: center;
			text-decoration-line: underline;
			color: #FF0000;
		}
	}
}

// Media
@media (max-width: 767px){
	.benefits{
		padding: 50px 0 60px;
		&__wrapper{
			flex-direction: column;
			align-items: center;
		}
		&__item{
			margin-bottom: 30px;
			width: 300px;
		}
		&__header{
			margin-top: 15px;
			font-size: 25px;
			line-height: 28px;
		}
		&__descr{
			margin-top: 10px;
			font-size: 20px;
			line-height: 24px;
		}
	}
}
@media (max-width: 575px){
	.benefits{
		padding: 30px 0 40px;
	}
	.title{
		font-size: 26px;
	}
}