.catalog{
	padding: 0px 0px 100px 0;
	&__tabs{
		margin-top: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__tab{
		width: 222px;
		height: 52px;
		border: 2px solid #D0D0D0;
		font-size: 18px;
		line-height: 48px;
		text-transform: uppercase;
		color: #6B6B6B;
		text-align: center;
		transform: skewX(-25deg);
		margin: 0 5px;
		cursor: pointer;
		transition: 0.5s all;
		&:hover{
			box-shadow: 3px 3px 20px $main-color;
			border: none;
		}
		div{
			transform: skewX(25deg);
		}
		&_active{
			background: $main-color;
			color: #fff;
			border: none;
		}
	}
	&__content{
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		display: none;
		&_active{
			display: flex;
		}
	}
	&-item{
		width: 303px;
		min-height: 440px;
		border: 2px solid #E8E8E8;
		padding: 20px 20px 25px;
		margin-bottom: 20px;
		overflow: hidden;
		&__img{
			height: 200px;
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
		&__subtitle{
			margin-top: 20px;
			font-weight: 700;
			font-size: 16px;
			line-height: 25px;
			text-align: center;
			color: #0D0D0D;
		}
		&__descr{
			margin-top: 16px;
			font-weight: 300;
			font-size: 14px;
			line-height: 22px;
			text-align: center;
			color: #0D0D0D;
		}
		&__link{
			display: block;
			margin-top: 17px;
			font-size: 14px;
			line-height: 14px;
			text-align: center;
			text-decoration-line: underline;
			color: $main-color;
			text-transform: uppercase;
		}
		hr{
			margin: 19px 0 21px;
			height: 1px;
			background-color:#E8E8E8;
		}
		&__footer{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__old-price{
			font-weight: 300;
			font-size: 14px;
			line-height: 14px;
			text-decoration-line: line-through;
			color: #555555;
		}
		&__price{
			font-weight: 700;
			font-size: 20px;
			line-height: 20px;
			color: #050505;
		}
		&__wrapper{
			display: flex;
			width: calc(200% + 40px);
		}
		&__content{
			width: 50%;
			transform: translateX(-100%);
			transition: 0.5s all;
			margin-right: 0;
			&_active{
				transform: translateX(0%);
				margin-right: 20px;
			}
		}
		&__list{
			position: relative;
			width: 50%;
			margin-left: 20px;
			transform: translateX(0%);
			padding-right: 20px;
			padding-left: 19px;
			transition: 0.5s all;
			&_active{
				transform: translateX(-100%);
				margin-left: 0px;
			}
			li{
				position: relative;
				font-weight: 300;
				font-size: 14px;
				line-height: 21px;
				color: #555555;
				&:before{
					content: '';
					position: absolute;
					width: 5px;
					height: 5px;
					background-color: $main-color;
					left: -19px;
					top: 7px;
				}
			}
		}
		&__back{
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50% - 19);
			font-size: 14px;
			line-height: 14px;
			text-decoration-line: underline;
			color: #C70101;
			text-transform: uppercase;
		}
	}
}