.consultation {
	min-height: 680px;
	padding: 100px 0 92px;
	background: url("../img/bg2bg_2.png") center center / cover no-repeat;

	&__descr {
		font-size: 20px;
		line-height: 30px;
		color: #FFFFFF;
	}
	.error{
		border: 1px solid red;
	}
	label.error{
		color: #fff;
		border: none;
		text-align: center;
		margin-bottom: 10px;
	}
}
@media (max-width: 805px) {
	.title{
		&_left{
			text-align: center;
			font-size: 32px;
			line-height: 50px;
		}
	}
	.consultation{
		&__descr{
			text-align: center;
		}
	}
	.feed-form{
		margin: 0 auto;
	}
}
@media (max-width: 767px){
	.consultation{
		min-height: 550px;
		padding: 50px 0 50px;
		&__descr{
			font-size: 16px;
		}
	}
	.title{
		&_left{
			font-size: 25px;
			line-height: 43px;
		}
	}
}
@media (max-width: 576px){
	.consultation{
		min-height: 550px;
		padding: 30px 0 40px;
		&__descr{
			font-size: 13px;
			line-height: 25px;
		}
	}
	.title{
		&_left{
			font-size: 17px;
			line-height: 35px;
		}
	}
}
