@import "_null";

.block {

	&__column{
		border: 20px solid rgb(156, 105, 197);
		&_1{
		}
		&_2{
		}
		&_3{
		}
	}
	&__row {
		border: 20px solid rgb(228, 233, 158);
		display: flex;
		justify-content: flex-start;
		flex-direction: column ;
	}

	// .block__item

	&__item {
		padding: 40px;
		background-color: rgb(42, 185, 173);
		text-align: center;
		font-size: 70px;
		color: #fff;
	}
}
